:root {
  --purple400: #9C6EFF;
  --purple500: #944DFF;
  --purple600: #8137F3;
  --purple700: #6E2BD9;
  --purple800: #531DBF;

  --gray100: #E0E0E5;
  --gray200: #9E9E9E;
  --gray300: #535357;
  --gray600: #3C3C42;
  --gray700: #29292E;
  --gray800: #202024;
  --gray900: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}



.imgLogo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  background: var(--gray800);

  div {
    width: 75%;
    display: flex;
    align-items: start;
    flex-direction: column;



    h1 {
      font-family: 'Montserrat';
      font-size: 64px;
      font-weight: bold;
      color: var(--purple500);

      span {
        color: #fff;
      }
    }

    p {
      font-family: 'Poppins';
      font-size: 32px;
      color: var(--gray100);
    }
  }
}

.formCadastro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 64px 128px;
  background: var(--gray900);
  font-family: 'Poppins';

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: #F2F2F2;
  }

  p {
    color: #808080;
    font-size: 18px;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--gray200);
    margin-top: 32px;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      font-size: 16px;

      input {
        height: 50px;
        padding: 13px 16px;
        margin-top: 3px;
      }
    }

    #country {
      height: 50px;
      padding: 13px 16px;
      margin-top: 3px;
      background: var(--gray700);
      color: var(--gray200);
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Poppins';
    }

    .inputEstadoCidade,
    .inputEnderecoNum {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .inputEstadoCidade {
      div {
        width: 50%;
      }
    }

    .endereco {
      width: 75%;
    }

    .num {
      width: 25%;
    }

    button {
      height: 50px;
      padding: 13px 16px;
      margin-top: 3px;
      background: var(--purple500);
      color: #fff;
      border: none;
      font-family: 'Poppins';
      font-size: 18px;
      font-weight: bold;
    }

  }
}

div input {
  background: var(--gray700);
  color: var(--gray200);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins';
  cursor: pointer;
}

input:hover {
  border: 1px solid var(--purple500);
}

#country::selection {
  border: 1px solid var(--purple500);
}

.accountExist {
  margin-top: 18px;
  font-size: 16px;
  width: 100%;
  text-align: center;

  a {
    color: var(--purple400);
    font-weight: bold;
    text-decoration: none;
  }
}