.body-perfil-container {
  display: flex;
}

.sidebar-menu {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--gray800);
  padding: 40px;
}

.profile-container {
  & .profile-info-container {
    display: flex;
    gap: 4rem;
  
    & .profile-image-container {
      clip-path: circle();
      object-fit: cover;

      width: 250px;
      height: 250px;
    }
    
    & .profile-info-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
  
      & .profile-header {
        display: flex;
        height: max-content;
        align-items: center;
        justify-content: space-between;
    
        & .profile-actions-buttons {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  
  }

  & .profile-post-list-container {
    display: flex;
    gap: 1rem;

    & .profile-post-item-container {
      position: relative;
      
      & .profile-post-image {
        width: 100%;
        min-height: 439px;
        
        border-radius: 5px;
        object-fit: cover;
      }

      & .profile-post-title {
        position: absolute;
        text-align: center;
        width: calc(100% - 1rem);
        padding: 1rem 0;

        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;
        border-radius: 999px;


        background: var(--gray800);
      }
    }
  }

}