:root {
  --purple400: #9C6EFF;
  --purple500: #944DFF;
  --purple600: #8137F3;
  --purple700: #6E2BD9;
  --purple800: #531DBF;

  --gray100: #E0E0E5;
  --gray200: #9E9E9E;
  --gray300: #535357;
  --gray600: #3C3C42;
  --gray700: #29292E;
  --gray800: #202024;
  --gray900: #141414;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  transition: width 0.3s ease;
  width: 60px;
  /* Inicialmente estreito */
  overflow: hidden;
  /* Oculta os labels */
}

aside.open {
  width: 250px;
  align-items: flex-start;
  /* Aumenta a largura quando a classe 'open' é adicionada */
}

aside {
  background-color: var(--gray700);
  height: 100%;
  position: fixed;
}

.menuItens {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.menuItens div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuItens div.active img {
  padding-left: 10px;
  border-left: 4px solid var(--purple500);
  /* Estilo para o item ativo */
}
div.active span.menuLabel{
  color: var(--purple400);
  font-size: 20px;
}

.menuLabel {
  margin-left: 10px;
  display: none;
  /* Inicialmente oculto */
}

aside.open .menuLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  color: var(--gray200);
  .menuItens {
    display: flex;
    align-items: flex-start;

  }

  /* Exibe o label quando o menu está aberto */
}

/* Media queries para ajustar o gap conforme a altura */
@media (min-height: 650px) {
  .menuItens {
    gap: 10px;
  }
}

@media (min-height: 800px) and (max-height: 900px) {
  .menuItens {
    gap: 30px;
  }
}

@media (min-height: 1000px) {
  .menuItens {
    gap: 40px;
  }
}